@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/image.module.scss" as *;
@use "@styles/variables.module.scss" as *;

.navbar {
  @extend %container, .maxwidth;

  .profiledetails {
    @extend %container, .between;
    margin-top: 35px;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .profile {
    @extend %image, .w100, .h100, .ring, .round;
  }

  .details {
    @extend %container, .column, .column-start, .gp10;

    @media (max-width: $tablet) {
      align-items: center !important;
    }

    .role {
      @extend %text, .small, .bold, .accent;
    }

    .logowrapper {
      @extend %container, .nogap;

      .logoblack,
      .logolight {
        @extend %text, .max, .heavy;

        @media (max-width: $mobileM) {
          font-size: 24px;
        }
      }

      .logolight {
        @extend %text, .accent;
      }
    }

    .companywrapper {
      @extend %navlink;
      @extend %text, .tiny;
    }
  }
}
