@use "./variables.module.scss" as *;

%container {
  height: fit-content;

  &.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &.column {
    @extend .flex;
    flex-direction: column;
  }

  &.column-start {
    @extend .flex;
    justify-content: flex-start !important;
    align-items: flex-start !important
  }

  &.column-end {
    @extend .flex;
    justify-content: flex-end !important;
    align-items: flex-end !important
  }

  &.center {
    @extend .flex;
    justify-content: center !important;
  }

  &.between {
    @extend .flex;
    justify-content: space-between;
  }

  &.around {
    @extend .flex;
    justify-content: space-around;
  }

  &.flex-start {
    @extend .flex;
    justify-content: flex-start !important;
  }


  &.flex-end {
    @extend .flex;
    justify-content: flex-end !important;
  }

  &.wrap {
    @extend .flex;
    flex-wrap: wrap;
  }

  &.maxwidth {
    max-width: 35rem;
    margin: auto;
  }

  // resets
  &.nogap {
    @extend .flex;
    gap: 0;
  }
}
