@use "./variables.module.scss" as *;
@use "./functions.module.scss" as *;

%navlink {
  color: $primary;
  font-size: rem(16);
  font-weight: 600;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: $accent;
  }

  svg {
    width: rem(18);
    height: rem(18);
    fill: $primary;
  }
}

%text {
  color: $primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  //color
  &.accent {
    color: $accent;
  }

  &.dim {
    color: $primarydim;
  }

  //align
  &.start {
    text-align: start;
  }

  &.center {
    text-align: center;
  }

  &.end {
    text-align: end;
  }

  // size
  &.tiny {
    font-size: rem(12);
  }

  &.small {
    font-size: rem(14);
  }

  &.moderate {
    font-size: rem(18);
  }

  &.medium {
    font-size: rem(24);
  }

  &.large {
    font-size: rem(32);
  }

  &.max {
    font-size: rem(40);
  }

  // transform
  &.capitalize {
    text-transform: capitalize;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  //weight
  &.normal {
    font-weight: 400;
  }

  &.bold {
    font-weight: 600;
  }

  &.heavy {
    font-weight: 800;
  }
}
