//colors
$primary: #343434;
$offWhite: #dbdfea;
$accent: #004831;
$dimmed: #eaeafa;
$primarydim: #4d4f69;

// screens
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 650px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

// typography
$primary-font: "Titillium Web", sans-serif;
