@use "./variables.module.scss" as *;

%navlink {
  color: $primary;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: $accent;
  }

  svg {
    width: 1.625rem;
    height: 1.625rem;
    fill: $primary;
  }
}

%text {
  color: $primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  //color
  &.accent {
    color: $accent;
  }
  &.dim {
    color: $primarydim;
  }

  //align
  &.start {
    text-align: start;
  }
  &.center {
    text-align: center;
  }
  &.end {
    text-align: end;
  }

  // size
  &.tiny {
    font-size: 12px;
  }
  &.small {
    font-size: 14px;
  }
  &.medium {
    font-size: 24px;
  }
  &.large {
    font-size: 32px;
  }
  &.max {
    font-size: 40px;
  }

  // transform
  &.cap {
    text-transform: capitalize;
  }

  //weight
  &.normal {
    font-weight: 400;
  }
  &.bold {
    font-weight: 600;
  }
  &.heavy {
    font-weight: 800;
  }
}
