//colors
$primary: #222330;
$offWhite: #ffeceb;
$accent: #ff6400;
$dimmed: #cca8a8;
$primarydim: #7f402e;

// screens
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 650px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;
