@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/variables.module.scss" as *;
@use "@styles/mixins.module.scss" as *;

.navlinks,
.linkwrapper {
  @extend %container, .between, .gp16, .wrap;

  @media (max-width: $tablet) {
    margin: 10px;
    gap: 10px
  }
}

.homeIcon {
  @extend %navlink;

  svg {
    width: 1.4rem;
    height: 1.4rem
  }
}

.link {
  @extend %navlink;
  @extend %text, .capitalize, .small, .bold;
  transition: all 300ms ease;

  &:hover {
    color: white;
  }

  &.solid {
    @extend %text, .p5;
    @include underlineOnHover(100%, 100%, 0);
  }

  @media (max-width: $mobileL) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    gap: 2px;

    svg {
      width: 25px;
    }
  }
}
