@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/variables.module.scss" as *;

.footer {
  @extend %container, .maxwidth;

  @media (max-width: $tablet) {
    text-align: center;
  }

  .footertext {
    @extend %container, .flex;
    @extend %text, .accent, ;
    margin-block: 30px;
    font-size: 14px;

    .toolIcon {
      width: 20px;
      height: 20px;
    }
  }
}
