@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/variables.module.scss" as *;

.notecard {
  @extend %navlink, .wfull, .p16;
  @extend %container, .column, .column-start, .gp10;
  border-bottom: 1px dashed $primarydim;
  transition: all 300ms ease;

  &:hover {
    background: $primary;

    .notetitle,
    .notedescription {
      color: $offWhite !important;
    }
  }

  .notetitle {
    @extend %text, .moderate, .heavy;
  }

  .notedescription {
    @extend %text, .small, .bold, .dim;
  }

  .notedate {
    @extend %text, .tiny, .bold, .accent;
  }
}
