@use "sass:color";
@use "@styles/variables.module.scss" as *;
@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/image.module.scss" as *;


.backArrow {
  @extend %navlink;
  @extend %container, .flex;

  svg {
    width: 1.4rem;
    height: 1.4rem
  }
}

.notepage {
  min-height: calc(50dvh - 10rem);
  font-weight: 600;

  a {
    @extend %text, .bold, .accent;
  }

  p,
  hr,
  ol,
  ul,
  code {
    margin: 1rem 0;
    font-size: 1.125rem;

    @media (max-width: $tablet) {
      font-size: 0.875rem;
    }
  }

  p,
  ul,
  ol {
    code {
      font-size: 0.875rem;
      padding: 2px 5px;
      background: lightsalmon;

      @media (max-width: $tablet) {
        font-size: 0.8rem;
      }
    }
  }

  ol,
  ul {
    padding: 0 1.25rem;
    margin-bottom: 1rem;
  }

  strong {
    opacity: 0.8;
    color: $accent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $accent;
    margin: 1.2rem 0;
    padding: 2px 5px;
    font-family: $primary-font;
  }

  h1 {
    background: lightgreen
  }

  h2 {
    background: lightblue
  }

  h3 {
    background: lightpink
  }

  h4 {
    background: lightsteelblue
  }

  h5 {
    background: lightcoral
  }

  h6 {
    background: lightyellow
  }

  blockquote {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid color.adjust($primary, $lightness: 40%);
    background: color.adjust(lime, $lightness: 40%);
    ;

    p {
      margin: 5px;
    }
  }

  img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid $primary;
  }

  pre {
    padding: 10px 25px;
    overflow-x: scroll;
    border: 1px dashed color.adjust($primary, $lightness: 40%);

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      counter-reset: line;
      line-height: 1.5rem;
      font-size: 0.875rem;

      @media (max-width: $tablet) {
        font-size: 0.8rem;
      }
    }
  }

  [data-rehype-pretty-code-title] {
    font-family: $primary-font;
  }
}
