@use "sass:color";
@use "@styles/variables.module.scss" as *;
@use "@styles/mixins.module.scss" as *;
@use "@styles/functions.module.scss" as *;
@use "@styles/container.module.scss" as *;
@use "@styles/text.module.scss" as *;
@use "@styles/oneliners.module.scss" as *;
@use "@styles/image.module.scss" as *;


.backArrow {
  @extend %navlink;
  @extend %container, .flex;

  svg {
    width: rem(18);
    height: rem(18);
  }
}

.notepage {
  min-height: calc(50dvh - 10rem);

  a {
    @extend %text, .bold, .accent, .tiny;
  }

  p,
  hr,
  ol,
  ul,
  code {
    margin: rem(14) 0;
    line-height: rem(22);
    @extend %text, .tiny;
  }

  p,
  l,
  ol {
    code {
      font-size: rem(10);
      padding: 2px 5px;
      border-radius: 5px;
      background: color.adjust(coral, $lightness: 20%);
    }
  }

  ol,
  ul {
    padding: 0 1.25rem;
    margin-bottom: rem(16);
  }

  strong {
    opacity: 0.8;
    color: $accent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $accent;
    margin: rem(40) 0;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: 600;
    font-family: $primary-font;
  }

  h1 {
    background: lightgreen;
    font-size: rem(20);
  }

  h2 {
    background: lightblue;
    font-size: rem(18);
  }

  h3 {
    background: lightpink;
    font-size: rem(16);
  }

  h4 {
    background: lightsteelblue;
    font-size: rem(14);
  }

  h5 {
    background: lightcoral;
    font-size: rem(12);
  }

  h6 {
    background: lightyellow;
    font-size: rem(10);
  }

  blockquote {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid color.adjust($primary, $lightness: 40%);
    background: color.adjust(lime, $lightness: 45%);

    p {
      margin: 5px;
      line-height: rem(18);
      color: color.adjust($accent, $hue: 0deg);
    }
  }

  img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid color.adjust($primary, $lightness: 20%);
  }

  pre {
    padding: 10px 25px;
    overflow-x: scroll;
    border: 1px dashed color.adjust($primary, $lightness: 40%);

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      counter-reset: line;
      line-height: rem(24);
      font-size: rem(12);
    }
  }

  [data-rehype-pretty-code-title] {
    font-family: $primary-font;
  }
}
