@use "sass:color";
@use "@styles/variables.module.scss" as *;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: $primary;
  background: $offWhite;
  position: relative;
  letter-spacing: 0.8px;
  font-family: $primary-font;

  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, color.adjust($primary, $lightness: 70%) 1px, transparent 1px),
    linear-gradient(to bottom, color.adjust($primary, $lightness: 70%) 1px, transparent 1px);

  img {
    max-width: 100%;
    height: auto;
  }

  .noisePattern {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 300;
    pointer-events: none;
    mix-blend-mode: darken;
  }

  .mainContainer {
    margin: 1rem auto;
    max-width: 45rem;
    min-height: 65dvh;

    display: flex;
    flex-direction: column;
    padding: 3rem 0.625rem;
    gap: 1rem;
  }

  .appContainer {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    padding: 1rem 0.625rem 0;

    @media (max-width: $mobileL) {
      padding: 10px 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    html {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }
}
